@SIZE: 40;

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        position: relative;
        &.bg .row {
            width: 10 * @SIZE * 1px;
        }
        .row {
            .block-container {
                box-sizing: border-box;
                width: @SIZE * 1px;
                height: @SIZE * 1px;
                position: absolute;
                display: inline-block;
                border: 1px solid #858585;
            }
            .block {
                background: red;
            }
        }
    }
}
